n8n-workflows/AutoFlow_AI_Workflows_3_4_5.json
{
  "name": "AutoFlow AI 3 4 5 05041049",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autoflow/action",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "42aaa560-9c53-456e-b424-9d5cf4440e43",
      "name": "Action Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2864,
        480
      ],
      "webhookId": "autoflow-action-v1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.trigger }}",
                    "rightValue": "alert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "da4cf517-38e2-4c1c-bed7-cfb07d57ea09"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.trigger }}",
                    "rightValue": "remediate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6a88259d-3fb6-4dce-ac74-f0b08e36e085"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Remediate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.trigger }}",
                    "rightValue": "learning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "191d3a49-2422-483e-bc8b-5abdaf960b5f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Learning"
            }
          ]
        },
        "options": {}
      },
      "id": "efea918b-bc54-475b-ac40-73689d917c34",
      "name": "Action Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2624,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet input = raw.body || raw;\n\nif (typeof input === 'string') {\n  try { input = JSON.parse(input); } catch(e) {}\n}\n\nif (input.body && typeof input.body === 'object') {\n  input = input.body;\n}\n\nif (!input.service_name && raw.body?.service_name) {\n  input = { ...input, ...raw.body };\n}\n\nreturn { json: input };"
      },
      "id": "d0f4c12c-3ab3-46a1-bc30-428087b84e35",
      "name": "Alert — Receive Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst scorePercent = Math.round(d.consensus_score * 100);\nconst emoji = d.consensus_score >= 0.5 ? '🔴' : '🟡';\n\nconst agentLine = (name, agent) => `${name}: score=${agent?.score ?? 'N/A'} | action=${agent?.recommended_action ?? 'N/A'} | reason: ${agent?.reasoning ?? 'N/A'}`;\n\nconst body = [\n  `${emoji} AutoFlow Alert — Action May Be Needed`,\n  ``,\n  `Service: ${d.service_name} in namespace: ${d.namespace}`,\n  `Metric: ${d.metric_type} = ${d.metric_value}`,\n  `Consensus Score: ${scorePercent}% (threshold for auto-fix is 60%)`,\n  `Decision: ALERT — monitoring, no auto-remediation yet`,\n  ``,\n  `Agent Analysis:`,\n  agentLine('Anomaly Agent', d.agents?.anomaly),\n  agentLine('Risk Agent   ', d.agents?.risk),\n  agentLine('SLA Agent    ', d.agents?.sla),\n  agentLine('Context Agent', d.agents?.context),\n  ``,\n  `Decision ID: ${d.decision_id}`,\n  `Time: ${new Date().toISOString()}`\n].join('\\n');\n\nreturn { json: { ...d, email_body: body } };"
      },
      "id": "8481778b-4954-486b-a76e-e1d67da57c33",
      "name": "Format Alert Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        160
      ]
    },
    {
      "parameters": {
        "sendTo": "deshpandedevang166@gmail.com",
        "subject": "=🔴 AutoFlow Alert — {{ $json.service_name }} | Score: {{ Math.round($json.consensus_score * 100) }}%",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "513397f4-73e2-4d83-a970-ca76f5f1b66e",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1904,
        160
      ],
      "webhookId": "8cd2cd1b-aacc-4809-a109-03ae718e949a",
      "credentials": {
        "gmailOAuth2": {
          "id": "jJw9Z3gH29J5NG5c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE autoflow_events SET status = 'alerted', updated_at = NOW() WHERE event_id = '{{ $('Alert — Receive Decision').first().json.event_id }}';\nUPDATE autoflow_decisions SET status = 'alerted', updated_at = NOW() WHERE decision_id = '{{ $('Alert — Receive Decision').first().json.decision_id }}';",
        "options": {}
      },
      "id": "742afccf-daae-42f9-aef6-abdfbc1a3b52",
      "name": "Update Status to Alerted",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1664,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "gJ51Uz7d9gFG1Tzh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'alert_sent', decision_id: $('Alert — Receive Decision').first().json.decision_id }) }}",
        "options": {}
      },
      "id": "a3f63a17-c571-4498-a78c-979b701611da",
      "name": "Alert — Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1424,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet input = raw.body || raw;\n\n// Handle case where body is a JSON string (double-serialized)\nif (typeof input === 'string') {\n  try { input = JSON.parse(input); } catch(e) { /* keep as-is */ }\n}\n\n// Handle case where body is nested one more level\nif (input.body && typeof input.body === 'object') {\n  input = input.body;\n}\n\n// Safety: if trigger exists but service_name doesn't, \n// try extracting from the raw webhook payload\nif (!input.service_name && raw.body?.service_name) {\n  input = { ...input, ...raw.body };\n}\n\nreturn { json: input };"
      },
      "id": "bfd8467d-4c02-4523-985c-2b6fdc62f9a1",
      "name": "Remediate — Receive Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst action = input.remediation_action || 'restart_pod';\nconst validActions = ['restart_pod', 'scale_service', 'reroute_traffic', 'cleanup_disk', 'reschedule_pod', 'drain_node'];\nconst resolvedAction = validActions.includes(action) ? action : 'restart_pod';\nreturn { json: { ...input, resolved_action: resolvedAction } };"
      },
      "id": "87e26e4f-b466-4f82-b1eb-55193a4918d4",
      "name": "Resolve Action Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        480
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resolved_action }}",
                    "rightValue": "restart_pod",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26e2fa1f-0696-4836-9292-bd66d2e60a9e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RestartPod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resolved_action }}",
                    "rightValue": "scale_service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "98b4dcaf-74a5-4ce7-83ab-045053d35994"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ScaleService"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resolved_action }}",
                    "rightValue": "reroute_traffic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d410b011-65c3-49c3-a1ce-92bb1f868918"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RerouteTraffic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resolved_action }}",
                    "rightValue": "cleanup_disk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "v2-cleanup-disk-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CleanupDisk"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resolved_action }}",
                    "rightValue": "reschedule_pod",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "v2-reschedule-pod-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ReschedulePod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resolved_action }}",
                    "rightValue": "drain_node",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "v2-drain-node-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DrainNode"
            }
          ]
        },
        "options": {}
      },
      "id": "666f2f1d-ad4a-494f-bc2b-33704892d933",
      "name": "K8s Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1904,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Remediate — Receive Decision').first().json;\nreturn {\n  json: {\n    ...d,\n    action_simulated: true,\n    simulation_note: `SIMULATED restart_pod: would DELETE pod for ${d.service_name} in ${d.namespace}. K8s would auto-recreate it.`,\n    k8s_command: `kubectl delete pod -l app=${d.service_name} -n ${d.namespace} --grace-period=0`\n  }\n};"
      },
      "id": "924a7292-ff6f-48d5-bcb9-4e6d1f9e8321",
      "name": "Simulate Restart Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Remediate — Receive Decision').first().json;\nconst currentReplicas = 2;\nconst newReplicas = Math.min(currentReplicas * 2, 10);\nreturn {\n  json: {\n    ...d,\n    action_simulated: true,\n    current_replicas: currentReplicas,\n    new_replicas: newReplicas,\n    simulation_note: `SIMULATED scale_service: would PATCH deployment ${d.service_name} from ${currentReplicas} to ${newReplicas} replicas.`,\n    k8s_command: `kubectl scale deployment ${d.service_name} --replicas=${newReplicas} -n ${d.namespace}`\n  }\n};"
      },
      "id": "33bb80d0-a5ac-4955-bc05-91367206b8a4",
      "name": "Simulate Scale Service",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Remediate — Receive Decision').first().json;\nreturn {\n  json: {\n    ...d,\n    action_simulated: true,\n    simulation_note: `SIMULATED reroute_traffic: would update Ingress to redirect traffic away from ${d.service_name} in ${d.namespace}. Manual ingress update required in production.`,\n    k8s_command: `kubectl annotate ingress ${d.service_name}-ingress nginx.ingress.kubernetes.io/service-upstream=true -n ${d.namespace}`\n  }\n};"
      },
      "id": "551fa6c8-98d4-4ac3-a6dc-9701d07ece3e",
      "name": "Simulate Reroute Traffic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst base = $('Remediate — Receive Decision').first().json;\nconst action_id = `act_${Date.now()}_${Math.random().toString(36).substr(2,9)}`;\n\n// Merge: prefer base (which has decision data), overlay with action data\nconst merged = {\n  ...base,\n  action_id,\n  action_taken: base.resolved_action || base.remediation_action || data.resolved_action || 'restart_pod',\n  action_simulated: data.action_simulated || true,\n  simulation_note: data.simulation_note || '',\n  k8s_command: data.k8s_command || '',\n  new_replicas: data.new_replicas || null,\n  action_executed_at: new Date().toISOString(),\n  detection_timestamp: base.timestamp\n};\n\n// Safety check — log what we have\nif (!merged.decision_id) {\n  // Try to recover from data (simulate node output has ...d spread)\n  merged.decision_id = data.decision_id || 'unknown';\n  merged.event_id = data.event_id || merged.event_id || 'unknown';\n  merged.service_name = data.service_name || merged.service_name || 'unknown';\n  merged.namespace = data.namespace || merged.namespace || 'default';\n}\n\nreturn { json: merged };"
      },
      "id": "1cce345b-4cf8-4edc-a7dc-04d1e6663cc0",
      "name": "Merge Action Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO autoflow_actions (action_id, decision_id, event_id, service_name, namespace, action_type, action_status, executed_at) VALUES ('{{ $json.action_id }}', '{{ $json.decision_id }}', '{{ $json.event_id }}', '{{ $json.service_name }}', '{{ $json.namespace }}', '{{ $json.action_taken }}', 'executing', '{{ $json.action_executed_at }}') RETURNING id;",
        "options": {}
      },
      "id": "2b308d82-6a04-4e16-821d-efe2dcde0709",
      "name": "Save Action to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1184,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "gJ51Uz7d9gFG1Tzh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'remediation_complete', action_taken: $('Merge Action Paths').first().json.action_taken, action_id: $('Merge Action Paths').first().json.action_id, simulated: true }) }}",
        "options": {}
      },
      "id": "a26fba24-250b-4329-b9e8-51f77f7189ae",
      "name": "Remediate — Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1184,
        240
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "e94a0f58-d232-4d28-b99e-842b0c1b63cc",
      "name": "Wait 10s for Recovery",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -944,
        480
      ],
      "webhookId": "5725c77b-8616-4d5c-8fc5-4c7e7bb4a85d"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Remediate — Receive Decision').first().json;\nconst actionData = $('Merge Action Paths').first().json;\n\nconst thresholds = {\n  cpu_usage: 85,\n  memory_usage: 90,\n  error_rate: 5,\n  latency_ms: 2000,\n  disk_usage: 95,\n  disk_space_free_percent: 10,\n  pod_scheduling: 0.5\n};\nconst threshold = thresholds[original.metric_type] || 80;\n\nlet simulatedCurrentValue;\nlet recovered;\n\nif (original.metric_type === 'pod_scheduling') {\n  const rescheduleSuccess = Math.random() > 0.15;\n  simulatedCurrentValue = rescheduleSuccess ? 0 : 1;\n  recovered = simulatedCurrentValue === 0;\n} else if (original.metric_type === 'disk_space_free_percent') {\n  const cleanupSuccess = Math.random() > 0.1;\n  simulatedCurrentValue = cleanupSuccess ?\n    threshold + (Math.random() * 20 + 5) :\n    original.metric_value * (0.9 + Math.random() * 0.15);\n  recovered = simulatedCurrentValue >= threshold;\n} else {\n  // FIXED: Realistic recovery simulation\n  // ~70% chance of recovery, not ~100%\n  const recoveryChance = Math.random();\n  if (recoveryChance < 0.70) {\n    // Recovered: value drops well below threshold\n    simulatedCurrentValue = threshold * (0.4 + Math.random() * 0.3);\n  } else {\n    // NOT recovered: value stays above or near threshold\n    simulatedCurrentValue = threshold * (0.85 + Math.random() * 0.3);\n  }\n  recovered = simulatedCurrentValue < (threshold * 0.8);\n}\n\nconst detectedAt = new Date(original.timestamp || actionData.action_executed_at).getTime();\nconst resolvedAt = Date.now();\nconst mttrSeconds = Math.round((resolvedAt - detectedAt) / 1000);\n\nreturn {\n  json: {\n    ...original,\n    action_id: actionData.action_id,\n    action_taken: actionData.action_taken,\n    recovery_metric_value: Math.round(simulatedCurrentValue * 100) / 100,\n    recovery_threshold: original.metric_type === 'pod_scheduling' ? 0 : (original.metric_type === 'disk_space_free_percent' ? threshold : threshold * 0.8),\n    recovered,\n    mttr_seconds: mttrSeconds,\n    agents: original.agents\n  }\n};"
      },
      "id": "0b3ce35c-e195-4b76-bdea-e13290603374",
      "name": "Evaluate Recovery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "recovery-check",
              "leftValue": "={{ $json.recovered }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "21c916e1-9efa-489b-a33c-154e7f0a144b",
      "name": "Did It Recover?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -464,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE autoflow_actions SET action_status = 'success', outcome = 'recovered', recovery_metric_value = {{ $json.recovery_metric_value }}, mttr_seconds = {{ $json.mttr_seconds }}, resolved_at = NOW() WHERE action_id = '{{ $json.action_id }}';\nUPDATE autoflow_events SET status = 'resolved', updated_at = NOW() WHERE event_id = '{{ $json.event_id }}';",
        "options": {}
      },
      "id": "4e05f5d1-2cbf-443c-8c2c-fcfb8f555ef7",
      "name": "Save Success Outcome",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -224,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "gJ51Uz7d9gFG1Tzh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE autoflow_actions SET action_status = 'failed', outcome = 'not_recovered', recovery_metric_value = {{ $json.recovery_metric_value }}, resolved_at = NOW() WHERE action_id = '{{ $json.action_id }}';\nUPDATE autoflow_events SET status = 'escalated', updated_at = NOW() WHERE event_id = '{{ $json.event_id }}';",
        "options": {}
      },
      "id": "b10e8aa9-4d87-4a23-8238-a82fc5046857",
      "name": "Save Failure Outcome",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -224,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "gJ51Uz7d9gFG1Tzh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = [\n  `🚨 AutoFlow ESCALATION — Auto-remediation FAILED`,\n  ``,\n  `Service: ${d.service_name} in ${d.namespace}`,\n  `Action Attempted: ${d.action_taken}`,\n  `Current Metric Value after action: ${d.recovery_metric_value}`,\n  `Recovery Threshold Was: ${d.recovery_threshold}`,\n  ``,\n  `Service did NOT recover after automated fix. Manual intervention required.`,\n  ``,\n  `Decision ID: ${d.decision_id}`,\n  `Action ID: ${d.action_id}`,\n  `Time: ${new Date().toISOString()}`\n].join('\\n');\nreturn { json: { ...d, escalation_email_body: body } };"
      },
      "id": "3b48d379-0c5a-4bdf-8b82-3e85b2cd2c0d",
      "name": "Format Escalation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        720
      ]
    },
    {
      "parameters": {
        "sendTo": "deshpandedevang166@gmail.com",
        "subject": "=🚨 AutoFlow ESCALATION — {{ $json.service_name }} did NOT recover | Manual action needed",
        "emailType": "text",
        "message": "={{ $json.escalation_email_body }}",
        "options": {}
      },
      "id": "b0ce1a13-bb28-4248-9884-bbeb13cdace7",
      "name": "Escalate via Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        720
      ],
      "webhookId": "5b2447c2-ee07-404c-87db-c347a7114e67",
      "credentials": {
        "gmailOAuth2": {
          "id": "jJw9Z3gH29J5NG5c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/autoflow/action",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ trigger: 'learning', recovered: true, event_id: $json.event_id, decision_id: $json.decision_id, action_id: $json.action_id, agents: $json.agents }) }}",
        "options": {}
      },
      "id": "82386e69-8ea3-4cce-8981-e1f5b5771800",
      "name": "Trigger Learning — Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/autoflow/action",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ trigger: 'learning', recovered: false, event_id: $json.event_id, decision_id: $json.decision_id, action_id: $json.action_id, agents: $json.agents }) }}",
        "options": {}
      },
      "id": "c18a5f77-7ae0-44e4-b1dc-5434cf23d3b0",
      "name": "Trigger Learning — Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet input = raw.body || raw;\n\nif (typeof input === 'string') {\n  try { input = JSON.parse(input); } catch(e) {}\n}\n\nif (input.body && typeof input.body === 'object') {\n  input = input.body;\n}\n\nconst outcome = input.recovered === true ? 'success' : 'failure';\nreturn { json: { ...input, outcome } };"
      },
      "id": "63b2767e-591a-4ccd-870c-92fcadc48bd4",
      "name": "Learning — Receive Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2528,
        832
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT agent_name, current_weight, initial_weight, total_predictions, correct_predictions FROM autoflow_agent_weights WHERE is_active = true ORDER BY agent_name;",
        "options": {}
      },
      "id": "5b477d29-68c6-409f-ab3d-c6c7e7b84a4d",
      "name": "Fetch Current Weights",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2336,
        848
      ],
      "credentials": {
        "postgres": {
          "id": "gJ51Uz7d9gFG1Tzh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const outcome = $('Learning — Receive Outcome').first().json;\nconst isSuccess = outcome.outcome === 'success';\nconst agents = outcome.agents || {};\n\nconst LEARNING_RATE = 0.05;\nconst MIN_WEIGHT = 0.05;\nconst MAX_WEIGHT = 0.60;\n\nconst current = {};\n$('Fetch Current Weights').all().forEach(row => {\n  current[row.json.agent_name] = {\n    weight: parseFloat(row.json.current_weight),\n    initial: parseFloat(row.json.initial_weight),\n    total: parseInt(row.json.total_predictions) || 0,\n    correct: parseInt(row.json.correct_predictions) || 0\n  };\n});\n\nconst defaults = { anomaly: 0.30, risk: 0.35, sla: 0.25, context: 0.10 };\nconst updated = {};\nconst agentNames = ['anomaly', 'risk', 'sla', 'context'];\n\nagentNames.forEach(name => {\n  const agentData = agents[name] || {};\n  const c = current[name] || { weight: defaults[name], initial: defaults[name], total: 0, correct: 0 };\n\n  // High-scoring agents flagged a real problem — reward them on both success and failure\n  // (failure = wrong action chosen, not wrong detection)\n  const agentWasCorrect = (agentData.score || 0) > 0.5;\n\n  let newWeight = c.weight;\n  if (agentWasCorrect) {\n    newWeight = Math.min(c.weight * (1 + LEARNING_RATE), MAX_WEIGHT);\n  } else {\n    newWeight = Math.max(c.weight * (1 - LEARNING_RATE), MIN_WEIGHT);\n  }\n\n  updated[name] = {\n    agent_name: name,\n    old_weight: c.weight,\n    new_weight: Math.round(newWeight * 10000) / 10000,\n    was_correct: agentWasCorrect,\n    total_predictions: c.total + 1,\n    correct_predictions: c.correct + (agentWasCorrect ? 1 : 0)\n  };\n});\n\n// Normalise so weights sum to exactly 1.0\nconst total = Object.values(updated).reduce((sum, w) => sum + w.new_weight, 0);\nObject.keys(updated).forEach(k => {\n  updated[k].new_weight = Math.round((updated[k].new_weight / total) * 10000) / 10000;\n});\n\n// Fix floating point drift — always adjust risk agent\nconst sumCheck = Object.values(updated).reduce((s, w) => s + w.new_weight, 0);\nconst diff = Math.round((1.0 - sumCheck) * 10000) / 10000;\nif (Math.abs(diff) > 0) {\n  updated['risk'].new_weight = Math.round((updated['risk'].new_weight + diff) * 10000) / 10000;\n}\n\nreturn {\n  json: {\n    event_id: outcome.event_id,\n    decision_id: outcome.decision_id,\n    outcome: outcome.outcome,\n    updated_weights: updated,\n    learning_applied_at: new Date().toISOString()\n  }\n};"
      },
      "id": "e104d888-a854-4f0b-955b-bb255a5e43cc",
      "name": "Calculate New Weights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO autoflow_learning_log (event_id, decision_id, outcome, anomaly_old_weight, anomaly_new_weight, risk_old_weight, risk_new_weight, sla_old_weight, sla_new_weight, context_old_weight, context_new_weight, applied_at) VALUES ('{{ $json.event_id }}', '{{ $json.decision_id }}', '{{ $json.outcome }}', {{ $json.updated_weights.anomaly.old_weight }}, {{ $json.updated_weights.anomaly.new_weight }}, {{ $json.updated_weights.risk.old_weight }}, {{ $json.updated_weights.risk.new_weight }}, {{ $json.updated_weights.sla.old_weight }}, {{ $json.updated_weights.sla.new_weight }}, {{ $json.updated_weights.context.old_weight }}, {{ $json.updated_weights.context.new_weight }}, '{{ $json.learning_applied_at }}');\n\nUPDATE autoflow_agent_weights SET current_weight = {{ $json.updated_weights.anomaly.new_weight }}, total_predictions = {{ $json.updated_weights.anomaly.total_predictions }}, correct_predictions = {{ $json.updated_weights.anomaly.correct_predictions }}, updated_at = NOW() WHERE agent_name = 'anomaly';\n\nUPDATE autoflow_agent_weights SET current_weight = {{ $json.updated_weights.risk.new_weight }}, total_predictions = {{ $json.updated_weights.risk.total_predictions }}, correct_predictions = {{ $json.updated_weights.risk.correct_predictions }}, updated_at = NOW() WHERE agent_name = 'risk';\n\nUPDATE autoflow_agent_weights SET current_weight = {{ $json.updated_weights.sla.new_weight }}, total_predictions = {{ $json.updated_weights.sla.total_predictions }}, correct_predictions = {{ $json.updated_weights.sla.correct_predictions }}, updated_at = NOW() WHERE agent_name = 'sla';\n\nUPDATE autoflow_agent_weights SET current_weight = {{ $json.updated_weights.context.new_weight }}, total_predictions = {{ $json.updated_weights.context.total_predictions }}, correct_predictions = {{ $json.updated_weights.context.correct_predictions }}, updated_at = NOW() WHERE agent_name = 'context';",
        "options": {}
      },
      "id": "23ea094c-7ceb-42c0-9091-2d1f5606bcfd",
      "name": "Update Weights in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1936,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "gJ51Uz7d9gFG1Tzh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'learning_complete', outcome: $('Learning — Receive Outcome').first().json.outcome, weights_updated: true, new_weights: $json.updated_weights }) }}",
        "options": {}
      },
      "id": "a86f6d11-8c19-45c8-953e-74bef58c3bc6",
      "name": "Learning — Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1920,
        1168
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Remediate — Receive Decision').first().json;\nconst mountpoint = d.mountpoint || '/';\nconst nodeName = d.node_name || d.service_name;\nreturn {\n  json: {\n    ...d,\n    action_simulated: true,\n    simulation_note: `SIMULATED cleanup_disk: would run cleanup on node ${nodeName} mountpoint ${mountpoint}. Actions: prune unused container images, clear old logs, remove temp files.`,\n    k8s_command: `kubectl exec -n monitoring deploy/our-node-exporter -- sh -c \"docker system prune -f && journalctl --vacuum-size=100M\" # on node ${nodeName}`\n  }\n};"
      },
      "id": "02978275-6a66-43a8-ab39-07e7343c93c8",
      "name": "Simulate Cleanup Disk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Remediate — Receive Decision').first().json;\nconst podName = d.pod_name || `${d.service_name}-pod`;\nconst ns = d.namespace || 'default';\nreturn {\n  json: {\n    ...d,\n    action_simulated: true,\n    simulation_note: `SIMULATED reschedule_pod: would DELETE unschedulable pod ${podName} in ${ns} and let the scheduler retry placement. If persistent, would relax nodeSelector/affinity constraints.`,\n    k8s_command: `kubectl delete pod ${podName} -n ${ns} --grace-period=0 && kubectl get events -n ${ns} --field-selector reason=FailedScheduling`\n  }\n};"
      },
      "id": "e220ced3-a0ed-4dee-8e1e-0e2a1048800b",
      "name": "Simulate Reschedule Pod",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Remediate — Receive Decision').first().json;\nconst nodeName = d.node_name || 'minikube';\nreturn {\n  json: {\n    ...d,\n    action_simulated: true,\n    simulation_note: `SIMULATED drain_node: would CORDON and DRAIN node ${nodeName}, evicting all pods to healthy nodes. Node marked unschedulable until disk/resource issue resolved.`,\n    k8s_command: `kubectl cordon ${nodeName} && kubectl drain ${nodeName} --ignore-daemonsets --delete-emptydir-data --grace-period=30`\n  }\n};"
      },
      "id": "b3bafec6-227b-4068-bfe4-04c117ee40e8",
      "name": "Simulate Drain Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/action",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action_id: $('Merge Action Paths').first().json.action_id, decision_id: $('Merge Action Paths').first().json.decision_id, action_type: $('Merge Action Paths').first().json.action_taken, action_status: 'executing' }) }}",
        "options": {}
      },
      "id": "352392f0-e22a-4bd1-8e9b-1435047aab3e",
      "name": "POST Action to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        704
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/action",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action_id: $json.action_id, decision_id: $json.decision_id, action_type: $json.action_taken, action_status: 'success', outcome: 'recovered', recovery_metric_value: $json.recovery_metric_value, mttr_seconds: $json.mttr_seconds }) }}",
        "options": {}
      },
      "id": "e5ea41a3-f145-4e6a-a109-5d1360de312f",
      "name": "POST Success to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/action",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action_id: $json.action_id, decision_id: $json.decision_id, action_type: $json.action_taken, action_status: 'failed', outcome: 'not_recovered', recovery_metric_value: $json.recovery_metric_value }) }}",
        "options": {}
      },
      "id": "261c51da-5bf9-4935-9b5f-8bd327c492c1",
      "name": "POST Failure to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        912
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Action Webhook Trigger": {
      "main": [
        [
          {
            "node": "Action Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Type Router": {
      "main": [
        [
          {
            "node": "Alert — Receive Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remediate — Receive Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Learning — Receive Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert — Receive Decision": {
      "main": [
        [
          {
            "node": "Format Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Email": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert Email": {
      "main": [
        [
          {
            "node": "Update Status to Alerted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Alerted": {
      "main": [
        [
          {
            "node": "Alert — Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remediate — Receive Decision": {
      "main": [
        [
          {
            "node": "Resolve Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Action Type": {
      "main": [
        [
          {
            "node": "K8s Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "K8s Action Router": {
      "main": [
        [
          {
            "node": "Simulate Restart Pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simulate Scale Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simulate Reroute Traffic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simulate Cleanup Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simulate Reschedule Pod",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simulate Drain Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Restart Pod": {
      "main": [
        [
          {
            "node": "Merge Action Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Scale Service": {
      "main": [
        [
          {
            "node": "Merge Action Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Reroute Traffic": {
      "main": [
        [
          {
            "node": "Merge Action Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Action Paths": {
      "main": [
        [
          {
            "node": "Save Action to DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remediate — Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Action to DB": {
      "main": [
        [
          {
            "node": "Wait 10s for Recovery",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST Action to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s for Recovery": {
      "main": [
        [
          {
            "node": "Evaluate Recovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Recovery": {
      "main": [
        [
          {
            "node": "Did It Recover?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did It Recover?": {
      "main": [
        [
          {
            "node": "Save Success Outcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Failure Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Success Outcome": {
      "main": [
        [
          {
            "node": "Trigger Learning — Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST Success to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Failure Outcome": {
      "main": [
        [
          {
            "node": "Format Escalation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST Failure to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Escalation Email": {
      "main": [
        [
          {
            "node": "Escalate via Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate via Email": {
      "main": [
        [
          {
            "node": "Trigger Learning — Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Learning — Receive Outcome": {
      "main": [
        [
          {
            "node": "Fetch Current Weights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Current Weights": {
      "main": [
        [
          {
            "node": "Calculate New Weights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate New Weights": {
      "main": [
        [
          {
            "node": "Update Weights in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Weights in DB": {
      "main": [
        [
          {
            "node": "Learning — Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Cleanup Disk": {
      "main": [
        [
          {
            "node": "Merge Action Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Reschedule Pod": {
      "main": [
        [
          {
            "node": "Merge Action Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Drain Node": {
      "main": [
        [
          {
            "node": "Merge Action Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "12b51156-e21e-460b-be6d-4477c711d4e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "581a3afb08d377268fdeb769b1916e6791368f549561355d19c90d053e47a9ef"
  },
  "id": "ccaJHOX7pxUZXLlo",
  "tags": [
    {
      "updatedAt": "2026-04-05T00:52:15.225Z",
      "createdAt": "2026-04-05T00:52:15.225Z",
      "id": "yiwlGY9mQgLHehH3",
      "name": "autoflow-itops"
    }
  ]
}